/* A pseudo-classe first-line altera as propriedades da primeira linha.

.missao:first-line{
	font-style: italic;
}
 A pseudo-classe first-letter altera as propriedades da primeira letra.

.titulo-mapa:first-letter{
	font-weight: bold;
}
*/
/* before e afeter adicionam conteúdo de apresentação não selecionavel, manipulável apenas a partir do CSS.

.titulo-principal:before{
	content: "[ ";
}

.titulo-principal:after{
	content: " ]"
}
*/
/* A partir do elemeno pai o uso do ' > ' no CSS faz com que seja selecionado somente o filho direto da TAG escolhida.
main > p {
	background: blue;
}
*/
/* O uso do  ' + ' seleciona o irmão que vem depois do elemento.

img + p {
	background: yellow;
} */
/* O uso do ' ~ ' seleciona todos os elementos depois da TAG precedida pelo ~ .
img ~ p {
	background: tomato;
}
*/
/* Ao usar o ' :not ' é possível excluir da aplicação do CSS algum elemento, nesse caso o p que tem por classe .missao.

.principal p:not(.missao){
	background: green;
}