header{
    background: url("bg.jpg");
    padding: 20px 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.caixa img{
	max-width: 250px;
	max-height: 250px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #bb9469;
    text-decoration: underline;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 10px;
    
}

.produtos li:hover{
    border-color: #bb9469;
}
.produtos li:active{
    border-color: #000fff;
}

.produtos li:hover h2 {
    font-size: 35px;
}


.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-desc {
    font-size: 18px ;
}


.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.foot  img{
    max-width: 150px;
    max-height: 250px;
}
footer {
    text-align: center;
    background-image: url("bg.jpg");
    padding: 35px;
}
.copyright{
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .caixa {
      width: auto;
    }
/*
    h1 {
      text-align: center;
    }

    nav {
      position: static;
      text-align: center;
    }

    .produtos {
      text-align: center;
      width: auto;
      display: inline-block;
    }

    .produtos li {
      width: auto;
      text-align: center;
    }
    */
}